[2014-07-07 20:36] codles opened #2 "Project scalp data to source"

[2014-10-22 16:20] codles opened #9 "Dipole orientation from beamformer"
https://github.com/fieldtrip/fieldtrip/blob/master/inverse/beamformer_sam.m

[code]

[2015-03-05 14:50] codles opened #17 "when trimming the length of signals accept floats but convert to nearest integer sample"
and give warning

[2015-04-20 18:45] codles commented on #18
Thanks I hadn't seen that note.

And thanks for taking a look at my code. I haven't kept these issues up to date, but now I know someone else is looking around Ill tidy it up. I appreciate any other feedback you have.

[2015-04-20 18:45] #2 closed

[2015-04-20 18:46] codles commented on #9
Ive put this work on hold

[2015-04-20 18:46] #9 closed

[2015-04-20 19:06] brk00 commented on #18
Thanks, if you want I could submit a PR or two. But since I'm an undergrad student, I fear that I don't have enough background to help you with the important stuff.

Also, take a look at BioJulia, an umbrella to some Bio-related packages. Maybe we could integrate EEG.jl or produce a new framework for Neuro Imaging (on the lines of MATLAB's field trip or something even better).

[2015-04-20 19:28] codles commented on #18
I'd appreciate any PR you could submit. Im in the process of trying to tidy the code up. This was my first project with Julia, and theres lots of code that could be improved.

[2015-04-26 22:47] brk00 opened #25 "Reduce number of dependencies"
Maybe we should make the package more lightweight and faster to load by removing some packages from the dependencies.

Docile will eventually drop after 0.4 release, and some other could be removed (like ProgressMeter) or made optional (via Requires.jl, like MAT, BDF, etc.). I also belive that importing Winston and Gadfly may be a little to much, and make our loadtime go too high.

By the way, may

[2015-04-27 18:03] codles commented on #25
Agreed. I hadn't seen Requires.jl before.
Ill start by tidying up the importing of packages then start on reducing dependencies.

[2015-04-27 18:05] codles commented on #24
Yep that was a hack that I always meant to tidy up. This use of data frames should definitely be removed for something native.

[2015-04-27 18:12] codles commented on #22
Good idea. I will get this started

[2015-04-27 18:35] codles commented on #22
Ok we have something at http://eegjl.readthedocs.org/en/latest/ now
Its quite empty I will need to add more documentation.
Can we do this automatically from the `@doc` macro like [Lexicon](https://github.com/MichaelHatherly/Lexicon.jl/blob/master/docs/build.jl)?

[2015-04-27 19:00] codles commented on #25
Also two graphics packages feels like overkill.

[2015-04-28 08:03] codles commented on #26
AWS requires a HOME variable. Added it via the appveyor environment settings tab.

[2015-04-28 21:17] brk00 opened #29 "Put every IO functions into one file"

[2015-04-28 21:56] brk00 opened #30 "Dict-based `@docstring` config is deprecated"
We used it on `src/EEG.jl`

[2015-04-29 15:13] #30 closed

[2015-04-30 13:08] codles commented on #25
Im thinking of settling on just Gadfly. Any opinion @brk00 ?

[2015-04-30 14:07] brk00 commented on #25
Gadfly sounds good. It's slow right now on importing, but when precompile options arrive, it will become much faster. Maybe making plot functions available with `@require Gadfly`? They would only be exposed if the user import Gadfly explicitly.

Can you explain me how Require's `@lazymod` work? I can't figure it out.

[2015-05-04 09:03] codles commented on #29
I don't think that moving all IO functions in to one file gains anything. I prefer having a folder with a file for each file type, that makes it easier to find the function you want for the filetype you are opening.
But I agree that currently its a bit of a mess.

[2015-05-04 09:05] codles commented on #25
Good idea to put the plotting functions in a require. I have started converting the Winston functions to Gadfly. Once that's done I'll wrap it in `@require`. I will also check out lazymod this week and get back to you.

[2015-05-04 09:09] codles commented on #15
This has been superseded due to the great help from @brk00

[2015-05-04 12:49] codles opened #31 "Convert Winston functions to Gadfly"
Reduce dependencies as discussed in #25

[2015-05-04 14:11] codles commented on #31
List of functions to convert
- [ ] dat plotting
- [ ] dipole plotting

[2015-05-06 08:13] codles opened #32 "Downsampling function"
Would also be useful to speed up plotting

[2015-05-06 14:56] codles commented on #32
Tests need to be added

[2015-05-07 20:43] codles commented on #31
The source plotting can't be converted over until the size can be set in gadfly

[2015-05-08 04:10] brk00 commented on #29
Let's do it with a file for each file type. Implemented by #28.

[2015-05-08 04:10] #29 closed

[2015-05-08 22:53] brk00 commented on #31
Is it into Gadfly's roadmap?

[2015-05-11 07:14] codles opened #33 "Change package name"
Most of this code could be used with MEG or other electrophysiological data.
Which is why I kept the low level functions generic and then placed types on top of these functions.
Should I change the name to `Electrophysiology.jl` and register this package to METADATA ?

[2015-05-11 07:26] codles commented on #33
@brk00 @dcjones any opinion here?

[2015-05-27 01:43] prcastro commented on #33
I agree we should change the name, but maybe `Electrophysiology.jl` is a bit too long. But if you're confortable with that, let's do it!

[2015-08-03 12:44] codles opened #36 "Make sure dipole locations have consistent SI units"

[2015-08-10 12:51] codles opened #38 "Add units to volume image data"
For CLARA should be
[code]

For MSBF should be unit less %

[2015-10-20 13:35] codles commented on #33
Decided against the name change. Package submitted to METADATA

[2015-10-20 13:35] #33 closed

[2015-11-02 11:37] codles opened #46 "Fix basic plotting functions from ReadMe"

[2015-11-04 16:52] codles opened #50 "Get coveralls working"

[2015-11-05 11:05] #50 closed

[2015-11-05 12:54] #46 closed

[2015-11-05 12:55] codles opened #51 "Hit 90% test coverage"

[2015-11-05 17:16] codles opened #52 "Change Electrodes type to Electrode"
Then can make Array{Electrode}

[2015-12-09 10:18] codles opened #53 "Use coordinate system inside Electrodes"
So can re use coordinate code

[code]

[2015-12-14 21:26] #51 closed

[2015-12-14 21:33] codles opened #54 "Pass official package test"

[2016-02-11 20:49] #54 closed

[2016-02-11 20:50] codles opened #58 "Move to Plots.jl"
See PR #55

[2016-02-11 20:51] codles commented on #31
Closed in favour of #58

[2016-02-11 20:51] #31 closed

[2016-02-13 12:14] codles opened #59 "Change best_dipole to SIUnits"

[2016-02-22 20:33] rob-luke opened #1 "Sensor/electrode type should specify single sensor"
See coordinates for example

[2016-02-26 17:19] codecov-io commented on #2
## [Current coverage](https://codecov.io/github/codles/EEG.jl?ref=0dc60128087e8e3c124ac9985f03d6f0bc903563) is `79.57%`

[code]

[2016-03-31 08:13] rob-luke commented on #1
Merged

[2016-03-31 08:13] #1 closed, assigned to nobody

[2016-03-31 08:21] coveralls commented on #2
[![Coverage Status](https://coveralls.io/builds/5610706/badge)](https://coveralls.io/builds/5610706)

Changes Unknown when pulling **c566bd91cb7f87deaf79859beedb2d43f20661e0 on SSRelectrodes** into *\* on master**.

[2016-04-30 19:48] rob-luke opened #3 "Use macros for logging"
From [Logging.jl](https://github.com/kmsquire/Logging.jl)

[2016-04-30 20:15] rob-luke opened #4 "Transition to FactCheck.jl"
Move tests over to [FactCheck.jl](https://github.com/JuliaLang/FactCheck.jl)

[2016-05-15 07:46] rob-luke opened #5 "Add hierarchy for electrophysiology types"
The type system could be made clearer.

Top level split in to

[code]

Then different categories defined

[code]

Finally specific types are specified

[code]

This would reduce complexity as

[code]

[2016-05-15 07:46] rob-luke opened #6 "Change name to Electrophysiology.jl"
How to change name of a package safely?

[2016-05-15 08:03] rob-luke opened #7 "Use recipes for plotting"
Since we have switched to Plots.jl we could use [Recipes](https://github.com/JuliaPlots/RecipesBase.jl) for cleaner plotting.

[2016-05-15 08:30] gear commented on #6
Hi,
I believe this issue was discussed [here](https://github.com/JuliaStats/Distance.jl/issues/25) before:
Apparently, they created a new repo, migrated the old one to the new one as an old version, and print warning on load and says change to the new one.

[2016-05-18 05:42] rob-luke commented on #6
Thanks @gear.
Also see [julia-users](https://groups.google.com/forum/#!topic/julia-users/WYGAG6GhInc)

[2016-05-18 07:56] gear commented on #6
Thanks @codles.
By the way, I am using this EEG package for my project. I read on the documentation page that you want to know if someone is using your package. Thank you for your work!

[2016-05-18 08:50] rob-luke commented on #6
Thanks for letting me know. I wasn't sure if anyone had seen it :) Do you use EEG? What type of potentials do you look at? Also check out [brainwave.jl](https://github.com/sam81/BrainWave.jl) from @sam81.

Im thinking of making some structural changes eg #5. So if you have any things you like or dislike about the package as is, let me know.

[2016-05-19 12:48] gear commented on #6
Thank you very much, @codles, for your suggestion. I am looking at ERP for cognitive and motor events. My main objective is to create a probabilistic generative model for functional brain mapping. Right now I am trying to build a temporal belief network (proposed at NIPS 2015) for Two class motor imagery dataset classification as a baby learning project.

I am a very beginner in this area. If you

[2016-05-19 14:02] rob-luke commented on #6
Jump on gitter sometime and let me know what ERP you are looking at, and we can discuss if we need to modify any of the code to encompass ERP processing.

Also I see you are using Julia v0.5, I haven't tested EEG.jl against the new releases. You may encounter some issues.

[2016-05-20 01:52] gear commented on #6
For EEG.jl I am using v0.4.5 now. EEG.jl failed to load with v0.5-beta.

[2016-07-15 08:06] rob-luke commented on #7
See this [issue](https://github.com/tbreloff/Plots.jl/issues/311)

[2016-07-25 15:52] rob-luke opened #8 "Ensure all requirements pass tests on Julia v0.5"
- [ ] [AWS](https://github.com/JuliaParallel/AWS.jl)
- [x] [DSP](https://github.com/JuliaDSP/DSP.jl)
- [x] [BDF](https://github.com/sam81/BDF.jl)
- [x] DataFrames
- [ ] [SIUnits](https://github.com/Keno/SIUnits.jl)
- [x] [ProgressMeter](https://github.com/timholy/ProgressMeter.jl)
- [x] Distributions
- [x] Distances
- [x] Logging
- [x] Documenter
- [x] [FileFind](https://github.com/johnmyleswhite/

[2016-07-25 16:41] coveralls commented on #9
[![Coverage Status](https://coveralls.io/builds/7151249/badge)](https://coveralls.io/builds/7151249)

Coverage remained the same at 77.307% when pulling **9b73ac69cb5faa53bad4861b73728704977b5d26 on Julia-v0.5** into **6b967d871cfbc159ca85bebdbfb4fe9c320acc5c on master**.

[2016-07-25 16:42] codecov-io commented on #9
## [Current coverage](https://codecov.io/gh/codles/EEG.jl/pull/9?src=pr) is 77.30% (diff: 100%)

[code]

[2016-07-26 07:05] coveralls commented on #9
[![Coverage Status](https://coveralls.io/builds/7161663/badge)](https://coveralls.io/builds/7161663)

Coverage remained the same at 77.307% when pulling **b2def16479e947d3fa11d308c7346c0ac0c93645 on Julia-v0.5** into **6b967d871cfbc159ca85bebdbfb4fe9c320acc5c on master**.

[2016-07-28 09:23] rob-luke opened #10 "Remove depreciated packages from requirements"
- [x] Docile (move to [Documenter.jl](https://github.com/JuliaDocs/Documenter.jl))
- [x] Synchrony (functionality was never used in EEG.jl)

[2016-07-28 09:47] rob-luke opened #11 "Remove unsupported code"
Take out code that has fallen in to disrepair through disuse.

[2016-07-28 09:54] #4 closed, assigned to nobody

[2016-08-02 07:20] rob-luke opened #12 "Switch to Documenter.jl"
https://juliadocs.github.io/Documenter.jl/stable/man/guide/

[2016-08-03 08:47] rob-luke commented on #12
Docs are now at http://codles.github.io/EEG.jl/latest/

[2016-08-03 08:47] #12 closed, assigned to nobody

[2016-08-03 09:47] rob-luke opened #13 "Regenerate example figures"
Rather than store figures in the repo, place them here and link.

[2016-08-03 10:16] rob-luke commented on #13
![multichannel-timeseries](https://cloud.githubusercontent.com/assets/748691/17362167/210f9c28-5974-11e6-8a05-62fa399d32d1.png)
![singlechannel-timeseries](https://cloud.githubusercontent.com/assets/748691/17362166/210e53f4-5974-11e6-8df0-c2723c65ba52.png)

[2016-08-03 11:01] rob-luke commented on #13
![source](https://cloud.githubusercontent.com/assets/748691/17363374/523373a0-597a-11e6-94d9-826381617756.png)

[2016-08-03 16:43] #13 closed, assigned to nobody

[2016-08-04 12:39] #10 closed, assigned to nobody

[2016-08-08 09:22] rob-luke opened #14 "Better check for uniqueness of dipoles"
Currently on the size of the dipole is compared. Add check for x, y and z coordinates.

Make a function to compare distances. Eg

[code]

[2016-08-10 08:27] #11 closed, assigned to nobody

[2016-08-10 08:30] rob-luke opened #15 "Remove all warning for julia v0.5"

[2016-08-18 05:26] abcsds opened #16 "Read EDF file format"
Very similar to BDF files, EDF is the standard format of biosignals for many EEG amplifiers, including the cheapest in the market: Emotiv Epoch, Emotiv Insight, and OpenBCI. Adding support to this format would allow a bigger community to use and support the project.
The description of the format can be found [here](http://www.edfplus.info/), and an attempt at reading EDF from julia can be found [h

[2016-08-18 08:04] rob-luke commented on #16
Thanks for the suggestion. Currently I use BDF.jl for reading data. I believe Sam has [started working](https://github.com/sam81/BDF.jl/issues/9) on EDF files in that package in a [separate branch](https://github.com/sam81/BDF.jl/tree/edf).

If EDF reading in BDF.jl is stable I will be happy to add support for it in this package. I have been meaning to overhaul the reading functions. Actually the

[2016-08-18 08:06] rob-luke commented on #6
Created a new repo [here](https://github.com/codles/Electrophysiology.jl).

For now EEG.jl will remain my stable package. And Electrophysiology.jl will be a newer, more Julian implementation.

[2016-08-18 08:06] #6 closed, assigned to nobody

[2016-08-18 08:07] rob-luke commented on #5
This wont be implemented in this package. Moved [here](https://github.com/codles/EEG.jl/issues/5).

[2016-08-18 08:07] #5 closed, assigned to nobody

[2016-08-19 01:34] sam81 commented on #16
@abcsds contributions to the EDF functionality in `BDF.jl` would be very welcome. The basic reading functionality is already in place but it has received very little testing and does not currently implement the full EDF/EDF+ [specifications](http://www.edfplus.info/specs/index.html). I'll have very limited time and limited internet connectivity in the next month, but I'll try to answer any possibl

[2016-08-30 13:30] codecov-io commented on #17
## [Current coverage](https://codecov.io/gh/codles/EEG.jl/pull/17?src=pr) is 96.87% (diff: 100%)

[code]

[2016-08-30 13:31] rob-luke opened #18 "Specify channels to import"
Obviously this is wack

[code]

[2016-08-30 14:04] coveralls commented on #17
[![Coverage Status](https://coveralls.io/builds/7669256/badge)](https://coveralls.io/builds/7669256)

Coverage remained the same at 96.633% when pulling **5dca8ba8e172b72eacc7e1c1d5a9968b753f3684 on julia-v0.5** into **00fdafb2cc2bcd5bc786ace974f69b3f47151b13 on master**.

[2016-08-30 14:04] coveralls commented on #17
[![Coverage Status](https://coveralls.io/builds/7669256/badge)](https://coveralls.io/builds/7669256)

Coverage remained the same at 96.633% when pulling **5dca8ba8e172b72eacc7e1c1d5a9968b753f3684 on julia-v0.5** into **00fdafb2cc2bcd5bc786ace974f69b3f47151b13 on master**.

[2016-09-01 08:31] coveralls commented on #17
[![Coverage Status](https://coveralls.io/builds/7701530/badge)](https://coveralls.io/builds/7701530)

Coverage increased (+0.003%) to 96.635% when pulling **1166531fb473608f877d4e311b37e4091c3535c4 on julia-v0.5** into **00fdafb2cc2bcd5bc786ace974f69b3f47151b13 on master**.

[2016-09-01 08:31] coveralls commented on #17
[![Coverage Status](https://coveralls.io/builds/7701530/badge)](https://coveralls.io/builds/7701530)

Coverage increased (+0.003%) to 96.635% when pulling **1166531fb473608f877d4e311b37e4091c3535c4 on julia-v0.5** into **00fdafb2cc2bcd5bc786ace974f69b3f47151b13 on master**.

[2016-09-01 09:53] coveralls commented on #17
[![Coverage Status](https://coveralls.io/builds/7702689/badge)](https://coveralls.io/builds/7702689)

Coverage increased (+0.2%) to 96.87% when pulling **1c67d8aa8254f2b9684a2eedd38c1726a802f715 on julia-v0.5** into **00fdafb2cc2bcd5bc786ace974f69b3f47151b13 on master**.

[2016-09-01 09:53] coveralls commented on #17
[![Coverage Status](https://coveralls.io/builds/7702689/badge)](https://coveralls.io/builds/7702689)

Coverage increased (+0.2%) to 96.87% when pulling **1c67d8aa8254f2b9684a2eedd38c1726a802f715 on julia-v0.5** into **00fdafb2cc2bcd5bc786ace974f69b3f47151b13 on master**.

[2016-09-01 10:19] coveralls commented on #17
[![Coverage Status](https://coveralls.io/builds/7703083/badge)](https://coveralls.io/builds/7703083)

Coverage increased (+0.2%) to 96.87% when pulling **1c67d8aa8254f2b9684a2eedd38c1726a802f715 on julia-v0.5** into **00fdafb2cc2bcd5bc786ace974f69b3f47151b13 on master**.

[2016-09-01 10:19] coveralls commented on #17
[![Coverage Status](https://coveralls.io/builds/7703083/badge)](https://coveralls.io/builds/7703083)

Coverage increased (+0.2%) to 96.87% when pulling **1c67d8aa8254f2b9684a2eedd38c1726a802f715 on julia-v0.5** into **00fdafb2cc2bcd5bc786ace974f69b3f47151b13 on master**.

[2016-09-01 10:54] coveralls commented on #17
[![Coverage Status](https://coveralls.io/builds/7703375/badge)](https://coveralls.io/builds/7703375)

Coverage increased (+0.2%) to 96.87% when pulling **1c67d8aa8254f2b9684a2eedd38c1726a802f715 on julia-v0.5** into **00fdafb2cc2bcd5bc786ace974f69b3f47151b13 on master**.

[2016-09-01 10:54] coveralls commented on #17
[![Coverage Status](https://coveralls.io/builds/7703375/badge)](https://coveralls.io/builds/7703375)

Coverage increased (+0.2%) to 96.87% when pulling **1c67d8aa8254f2b9684a2eedd38c1726a802f715 on julia-v0.5** into **00fdafb2cc2bcd5bc786ace974f69b3f47151b13 on master**.

[2016-09-01 11:07] coveralls commented on #17
[![Coverage Status](https://coveralls.io/builds/7703657/badge)](https://coveralls.io/builds/7703657)

Coverage increased (+0.2%) to 96.87% when pulling **1c67d8aa8254f2b9684a2eedd38c1726a802f715 on julia-v0.5** into **00fdafb2cc2bcd5bc786ace974f69b3f47151b13 on master**.

[2016-09-01 11:07] coveralls commented on #17
[![Coverage Status](https://coveralls.io/builds/7703657/badge)](https://coveralls.io/builds/7703657)

Coverage increased (+0.2%) to 96.87% when pulling **1c67d8aa8254f2b9684a2eedd38c1726a802f715 on julia-v0.5** into **00fdafb2cc2bcd5bc786ace974f69b3f47151b13 on master**.

[2016-09-01 12:14] coveralls commented on #17
[![Coverage Status](https://coveralls.io/builds/7704333/badge)](https://coveralls.io/builds/7704333)

Coverage increased (+0.2%) to 96.87% when pulling **9b4f5a40444d3b97423a9c9715cd84f6958b4799 on julia-v0.5** into **00fdafb2cc2bcd5bc786ace974f69b3f47151b13 on master**.

[2016-09-01 14:01] coveralls commented on #17
[![Coverage Status](https://coveralls.io/builds/7705708/badge)](https://coveralls.io/builds/7705708)

Coverage increased (+0.2%) to 96.87% when pulling **c0f5d98aaad4f175314752df9f7080856952cd9f on julia-v0.5** into **00fdafb2cc2bcd5bc786ace974f69b3f47151b13 on master**.

[2016-09-01 15:31] coveralls commented on #17
[![Coverage Status](https://coveralls.io/builds/7707300/badge)](https://coveralls.io/builds/7707300)

Coverage increased (+0.2%) to 96.87% when pulling **4ca721b2c0aadc4612d6fc574028b60e80c8e69d on julia-v0.5** into **00fdafb2cc2bcd5bc786ace974f69b3f47151b13 on master**.

[2016-09-01 15:31] coveralls commented on #17
[![Coverage Status](https://coveralls.io/builds/7707300/badge)](https://coveralls.io/builds/7707300)

Coverage increased (+0.2%) to 96.87% when pulling **4ca721b2c0aadc4612d6fc574028b60e80c8e69d on julia-v0.5** into **00fdafb2cc2bcd5bc786ace974f69b3f47151b13 on master**.

[2016-09-01 16:10] coveralls commented on #17
[![Coverage Status](https://coveralls.io/builds/7707957/badge)](https://coveralls.io/builds/7707957)

Coverage increased (+0.2%) to 96.87% when pulling **4ca721b2c0aadc4612d6fc574028b60e80c8e69d on julia-v0.5** into **00fdafb2cc2bcd5bc786ace974f69b3f47151b13 on master**.

[2016-09-01 16:10] coveralls commented on #17
[![Coverage Status](https://coveralls.io/builds/7707957/badge)](https://coveralls.io/builds/7707957)

Coverage increased (+0.2%) to 96.87% when pulling **4ca721b2c0aadc4612d6fc574028b60e80c8e69d on julia-v0.5** into **00fdafb2cc2bcd5bc786ace974f69b3f47151b13 on master**.

[2016-09-01 22:04] coveralls commented on #17
[![Coverage Status](https://coveralls.io/builds/7713707/badge)](https://coveralls.io/builds/7713707)

Coverage increased (+0.2%) to 96.87% when pulling **83fa7ba18e489fb164ab024080f1af5377b663d9 on julia-v0.5** into **00fdafb2cc2bcd5bc786ace974f69b3f47151b13 on master**.

[2016-09-02 08:42] coveralls commented on #17
[![Coverage Status](https://coveralls.io/builds/7720261/badge)](https://coveralls.io/builds/7720261)

Coverage increased (+0.2%) to 96.87% when pulling **d0001affcf9b9e614bc99447284c160d09f3e50b on julia-v0.5** into **00fdafb2cc2bcd5bc786ace974f69b3f47151b13 on master**.

[2016-09-02 08:42] coveralls commented on #17
[![Coverage Status](https://coveralls.io/builds/7720261/badge)](https://coveralls.io/builds/7720261)

Coverage increased (+0.2%) to 96.87% when pulling **d0001affcf9b9e614bc99447284c160d09f3e50b on julia-v0.5** into **00fdafb2cc2bcd5bc786ace974f69b3f47151b13 on master**.

[2016-09-02 09:27] #8 closed, assigned to nobody

[2016-09-02 12:08] #15 closed, assigned to nobody

[2017-08-29 10:28] rob-luke opened #21 "Julia 1.0 compatibility"
Ensure code runs on Julia 1.0

[2018-01-02 07:23] wherrera10 commented on #16
Happy New Year! Is the EEG.jl module still being updated?  I have finally over the holidays had time to look at specs long enough to put together a module that reads and writes EDF+ and BDF+ files.

This is not a fork of EEG,jl. It does not handle triggers like EEG.jl does, since it is for processing EEG data more than for evoked potentials. I suppose you could use it to pull channels and annotati

[2018-01-11 00:12] rob-luke commented on #16
Gday @wherrera10 ,

I'm just about to dive back in to this project so appreciate the update on your package, it looks great.

I plan to give EEG.jl an overhaul with julia 1.0. And am very keen to add EDF support.

Over the next year I am planning to add support for more than just evoked potentials and support for other signals such as MEG, FNIRS, spike trains, etc. I'm considering rolling this in

[2018-01-11 09:41] wherrera10 commented on #16
Hello Robert,

Thanks for the notes! I like the idea of expanding the package once things
are tested against the 1,.0 release. I am moving slowly toward a hardware
and software package for automation of certain kinds of intensive care
monitoring, but that is as yet far away. I think Julia1.0 will arrive waaay
before then.

Best wishes,

--Bill

On Wed, Jan 10, 2018 at 2:12 PM, Robert Luke <notific

[2018-04-06 03:22] rob-luke opened #22 "Julia 0.6 compatibility"
Ensure code works with Julia 0.6.
Create a new release.

[2018-04-06 03:24] rob-luke opened #23 "Julia 0.7 compatibility"
Ensure code works with Julia 0.6.
Create a new release.

[2018-04-06 03:25] rob-luke opened #24 "Julia 0.5 compatibility"
Ensure code works with Julia 0.6.
Create a new release.

[2018-04-18 04:44] rob-luke commented on #24
Final version is V0.2.1

[2018-04-18 04:44] #24 closed, assigned to nobody

[2018-04-18 07:21] codecov-io commented on #25
# [Codecov](https://codecov.io/gh/codles/EEG.jl/pull/25?src=pr&el=h1) Report

[![Impacted file tree graph](https://codecov.io/gh/codles/EEG.jl/pull/25/graphs/tree.svg?width=650&height=150&src=pr&token=8IY5Deklvg)](https://codecov.io/gh/codles/EEG.jl/pull/25?src=pr&el=tree)

[code]

------

[Continue to review full report at Codecov](https://codecov.io/gh/codles/EEG.jl/pull/25?src=pr&el=continue).

[2018-04-20 03:32] coveralls commented on #25
[![Coverage Status](https://coveralls.io/builds/16611710/badge)](https://coveralls.io/builds/16611710)

Coverage decreased (-3.8%) to 93.025% when pulling **d729f1ff1f28c4ec7c5560e7c8f422904b9862d0 on Julia-v0.6** into **4697429ba5e0680ebda30138fbe3a3d11fc4e581 on master**.

[2018-05-17 09:31] rob-luke opened #26 "Run femtocleaner"

[2018-05-18 01:26] rob-luke commented on #26
Ran locally as this seems busted

[2018-05-18 01:26] #26 closed, assigned to nobody

[2018-05-18 01:27] rob-luke commented on #22
08aca7c
1cd7ac5
afeabe8

[2018-06-10 05:32] rob-luke commented on #3
It seems [Base ](https://docs.julialang.org/en/latest/stdlib/Logging/)or [Memento ](https://github.com/invenia/Memento.jl)are the preferred logging options now

[2018-06-10 07:09] rob-luke opened #27 "Run femtocleaner"

[2018-06-10 07:10] #27 closed, assigned to nobody

[2018-06-10 07:12] attobot opened #28 "Error tagging new release"
The URL of this package does not match that stored in METADATA.jl.
cc: @rob-luke

[2018-11-08 22:23] codecov-io commented on #29
# [Codecov](https://codecov.io/gh/rob-luke/EEG.jl/pull/29?src=pr&el=h1) Report

[![Impacted file tree graph](https://codecov.io/gh/rob-luke/EEG.jl/pull/29/graphs/tree.svg?width=650&token=8IY5Deklvg&height=150&src=pr)](https://codecov.io/gh/rob-luke/EEG.jl/pull/29?src=pr&el=tree)

[code]

------

[Continue to review full report at Codecov](https://codecov.io/gh/rob-luke/EEG.jl/pull/29?src=pr&el=con

[2019-02-05 23:05] #28 closed, assigned to nobody

[2019-05-06 06:20] #22 closed, assigned to rob-luke

[2019-05-06 06:20] rob-luke commented on #23
Closed by a11018f

[2019-05-06 06:20] #23 closed, assigned to nobody

[2019-05-08 22:03] rob-luke commented on #3
Now using Base.Logging

[2019-05-08 22:03] #3 closed, assigned to nobody

[2019-05-08 22:11] Tokazama opened #35 "Tutorials/Examples"
I really appreciate all the work you're doing on this. I'm currently deeply in neuroimaging research and trying to add EEG to my repertoire for my current lab. This package is looking very promising and I'm hoping to start using it in the coming months, but I personally would need some more tutorials and examples. Are there any currently available tutorials or notebooks available?

[2019-09-04 15:54] KristofferC opened #37 "Info about upcoming removal of packages in the General registry"
As described in https://discourse.julialang.org/t/ann-plans-for-removing-packages-that-do-not-yet-support-1-0-from-the-general-registry/ we are planning on removing packages that do not support 1.0 from the General registry. This package has been detected to not support 1.0 and is thus slated to be removed. The removal of packages from the registry will happen approximately a month after this issu

[2019-10-09 08:31] #37 closed, assigned to nobody

[2019-12-23 20:21] behinger commented on #21
hey!
Any plans to continue developing this package?
I'm thinking of porting a M/EEG analysis/statistics toolbox for regression ERPs and the likes together.
I thought the datastructures you used might be useful :)
Best, Bene

[2019-12-24 08:41] Marco-Congedo commented on #21
@behinger Hi, I am also interested in contributing, but it looks it is dead here. Maybe someone should take it over ? See also https://github.com/JuliaNeuro
Let us write en e-mail there to see if someone respond.

[2019-12-24 09:37] Tokazama commented on #21
I haven't seen a lot going on at JuliaNeuro for a while. I started https://github.com/JuliaNeuroscience to get things started. I've almost got the beginnings of a core package for properties based on the BIDS standard. If anyone's interested in working on it over there I'd be happy to facilitate.

[2019-12-24 23:42] rob-luke commented on #21
Yes I haven’t worked on this lately. But I would be keen to assist with your new packages. This package was started back with an early version of Julia, so I would do many things differently with modern Julia.

[2019-12-24 23:44] rob-luke commented on #21
But I do plan at some point to make this code Julia1.x compatible. I think I almost had it working a while back.

[2019-12-25 07:59] Marco-Congedo commented on #21
That's great, it would be great to have a BIDS IO package. I can contribute packages for EEG inverse solutions, spatial filters, blind source separation, etc.

[2020-01-09 03:08] stefanches7 commented on #16
Hello @rob-luke and others,

[Beacon biosignals](https://github.com/beacon-biosignals) have rolled out a package for reading EDF in the meantime (https://github.com/beacon-biosignals/EDF.jl). Works like a charm! Maybe it could be integrated or referenced in the current package.

[2020-01-11 09:19] Marco-Congedo commented on #16
That's great!
To all:
the neuroimaging community is converging toward the [BIDS](https://bids.neuroimaging.io/ ) standard for sharing neuroimaging data.
With EDF IO support it is possible to support the BIDS standard fr EEG/MEG.
Is there any plan on doing this?

[2020-01-11 12:52] Tokazama commented on #16
Note that EDF is a supported storage format within the BIDS standard. Therefore, the only thing really stopping us from properly supporting the BIDS standard at this point is a standard approach to file management as described by BIDS. I believe [BIDSTools.jl](https://github.com/TRIImaging/BIDSTools.jl) was made for this sort of thing.

That being said, standard file management is of little benefi

[2020-01-12 05:55] wherrera10 commented on #16
If there is a need to look at the details for the EEG extension to BIDS, it
is here:  https://www.nature.com/articles/s41597-019-0104-8

In the future, it's possible some journals will ask for open data to be
archived in such a format, though I know of none that do now. As Zachary
said, working with the data would generally require unpackaging it from
such a storage form.

On Sat, Jan 11, 2020 at

[2021-06-10 15:40] abcsds commented on #21
Hi @rob-luke!

I'd like to take over the conversion to 1.6. I'm currently looking for an alternative for my research and I think working on this package is better than making everything by myself. Could we maybe have a chat one day, so you can tell me your design patterns before I make a PR? Thanks!

Best,
Alberto

[2021-06-11 00:33] rob-luke commented on #21
Hi Alberto (@abcsds),

Lovely to meet you. I would love for you to take over the conversion to 1.6. There are many improvements I would like to make to this package, but I think its best to start with conversion to 1.6 like you suggest and ensuring the docs and continuous integration etc work first.

To provide you some contex and history on this project. I wrote this package during my PhD and whi

[2021-06-12 08:54] abcsds commented on #21
I wrote to you! Thanks for the contact. I look forward to it :)

[2021-06-14 12:52] deep-introspection commented on #21
@rob-luke @abcsds Happy to take part in the joint effort to develop the library too!

[2021-08-13 12:26] likanzhan commented on #21
Are there updates on this project?

[2021-08-14 00:16] rob-luke commented on #21
@abcsds emailed me and I totally dropped the ball. My apologies everyone.

How about we have a call 5pm AEST this Wednesday 11th August to discuss? Would this work for @deep-introspection @abcsds?

[2021-08-14 00:22] deep-introspection commented on #21
Would have love to join but that's 3am in Montreal, so a bit too early...

[2021-08-14 00:44] rob-luke commented on #21
Can you suggest an alternative time that would suit you and @abcsds in Austria too? Im available 8am to 10pm (but can be flexible due to multi time zones, but I agree 3am is too much!).

[2021-08-14 03:01] deep-introspection commented on #21
8am Montreal would make 10pm Melbourne, and 1pm Austria. Would it work for you?

[2021-08-14 03:03] rob-luke commented on #21
Perfect. Which also makes me free Monday, Tuesday, Wednesday. Any of these suit you?

[2021-08-14 03:04] deep-introspection commented on #21
Both Tuesday and Wednesday could work for me. @abcsds ?

[2021-08-14 03:31] rob-luke commented on #21
Ok I have made a meeting for 10pm AEST on Tuesday 17/8/2021

Join at https://macquarie.zoom.us/j/83514916532
Password is Julia

Let me know if you want to move to Wednesday @abcsds

[2021-08-16 12:53] abcsds commented on #21
I can make it tomorrow at 10pm AEST. I might be 5 min late.
See you then!

[2021-08-16 15:41] likanzhan commented on #21
I will also like to join in, if my daughter is not too noisy.

[2021-08-16 22:30] rob-luke commented on #21
Awesome, that's why I posted it publicly, the more the merrier.

[2021-08-17 07:16] abcsds commented on #21
Maybe I'm too late, but the password is not working for me.

[2021-08-17 07:36] rob-luke commented on #21
I think you are 5 hours early

[2021-08-17 12:03] deep-introspection commented on #21
@rob-luke Are you there? Can’t connect with “Julia” either.

[2021-08-17 12:04] likanzhan commented on #21
me neither

[2021-08-17 12:04] rob-luke commented on #21
yeah

[2021-08-17 12:04] rob-luke commented on #21
Ill make another meeting

[2021-08-17 12:04] rob-luke commented on #21
https://macquarie.zoom.us/j/83514916532?pwd=NGYvM1V5bDNmOFF1K2NVa3pSWGFidz09

[2021-08-18 04:49] rob-luke commented on #21
Thank you all for joining last night. For anyone interested who didn't join the plan is roughly:

* Build on this package rather than start a new one. As that will be less work than starting fresh.
  * Step one is to get continuous integration up and running, to enable faster code reviews.
  * Step two is to upgrade the code two Julia 1 compatibility.
    * Considering jumping to 0.7 then 1.0 as t

[2021-08-18 05:23] Tokazama commented on #21
Sorry I couldn't make the call. I'd recommend getting technical tests working and put API  and performance specific stuff off for a bit. In order for us to have strong and maintainable performance we should harmonize with what the compiler experts are moving towards. Then design API around that, allowing us to inherit computational efficiency by design.

[2021-08-18 05:25] rob-luke opened #39 "Set up CI testing against Julia 0.7"

[2021-08-18 05:25] rob-luke opened #40 "Set up testing against Julia 1"

[2021-08-18 05:25] codecov-commenter commented on #38
# [Codecov](https://codecov.io/gh/rob-luke/EEG.jl/pull/38?src=pr&el=h1&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=Robert+Luke) Report

[![Impacted file tree graph](https://codecov.io/gh/rob-luke/EEG.jl/pull/38/graphs/tree.svg?width=650&height=150&src=pr&token=8IY5Deklvg&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+commen

[2021-08-18 05:41] rob-luke commented on #21
Thanks @Tokazama, I welcome any PRs. But I will first be getting the existing API running as it was very functional. Then expanding. Please open specific issues if you find any places in the code that could be improved by design. Improvements are welcome.

[2021-08-18 05:56] rob-luke opened #41 "Reregister package"

[2021-08-18 06:14] rob-luke commented on #38
FYI: @deep-introspection & @abcsds tests are now running on the CI. Thats step one complete. I opened a GitHub project board to track progress too https://github.com/rob-luke/EEG.jl/projects/1

Now that the CIs are running feel free to open any PRs. My top priority is getting the package running as is with Julia 1 and reregistering it. Any help there is appreciated. The easiest way to upgrade from

[2021-08-18 06:15] rob-luke opened #42 "Set up documentation builds to GitHub"
Do the same as here: https://github.com/rob-luke/AuditoryStimuli.jl/blob/main/.github/workflows/docs.yml

Add an example of how to process a steady state response using this data https://mne.tools/stable/generated/mne.datasets.ssvep.data_path.html#mne.datasets.ssvep.data_path

[2021-08-18 06:19] #39 closed, assigned to nobody

[2021-08-18 06:23] rob-luke opened #43 "Add function to download test/example data"
Write function to download test data using https://github.com/oxinabox/DataDeps.jl

[2021-08-18 06:36] codecov-commenter commented on #36
# [Codecov](https://codecov.io/gh/rob-luke/EEG.jl/pull/36?src=pr&el=h1&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=Robert+Luke) Report

[![Impacted file tree graph](https://codecov.io/gh/rob-luke/EEG.jl/pull/36/graphs/tree.svg?width=650&height=150&src=pr&token=8IY5Deklvg&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+commen

[2021-08-18 07:35] rob-luke commented on #35
Good idea. Should do as part of #42

[2021-08-18 10:16] rob-luke commented on #36
TESTS ARE PASSING ON 1.0!

FYI: @deep-introspection & @abcsds now ill enable tests for everything up to latest Julia release. Im happy to support only the latest and greatest Julia versions and drop these old versions.

[2021-08-18 10:18] rob-luke opened #44 "Enable tests for all Julia 1.X versions and determine where package works and doesn't"

[2021-08-18 10:19] #21 closed, assigned to nobody

[2021-08-18 10:20] rob-luke opened #45 "Rename package"
I am thinking `neuroimaging.jl` as I will add support for MEG, fNIRS, etc

[2021-08-18 10:27] rob-luke opened #47 "Ensure code runs on latest Julia version 1.6"
Drop any old versions that require extra work to maintain.

[2021-08-18 10:27] rob-luke opened #48 "Add general EEG type"
Then SSR should inherit from EEG etc

[2021-08-18 10:38] rob-luke commented on #46
1.4! 3 more versions than I expected.

[2021-08-18 10:53] codecov-commenter commented on #46
# [Codecov](https://codecov.io/gh/rob-luke/EEG.jl/pull/46?src=pr&el=h1&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=Robert+Luke) Report

[![Impacted file tree graph](https://codecov.io/gh/rob-luke/EEG.jl/pull/46/graphs/tree.svg?width=650&height=150&src=pr&token=8IY5Deklvg&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+commen

[2021-08-18 11:03] rob-luke opened #63 "Fix warnings thrown due to changes in data frames package"
The tests are throwing the following warnings due to changes in the data frames dependency package. These need to be fixed as described in the warning.

[code]

[2021-08-18 11:06] rob-luke commented on #46
CODE WORKS ON ALL JULIA VERSIONS!!

FYI: @deep-introspection & @abcsds the code should now work on your computers. The documentation sucks, so that's the next step, so you actually know what to run 😄

[2021-08-18 11:06] #44 closed, assigned to nobody

[2021-08-18 11:15] rob-luke opened #79 "Add compat entries for all dependencies"
Based on this we will likely have to drop support for previous Julia versions

[2021-08-18 11:27] likanzhan commented on #45
Neuroimaging normally include fMRI, PET, etc. Are we also going to support these?

[2021-08-18 11:30] rob-luke commented on #45
Haha I thought that would come up. In my experience neuroimaing only means fMRI to the fMRI people :wink: so I'm fine with taking the general terminology as EEG, MEG, fNIRS covers a fair range of the field. And I would like to end up providing umbrella support for all types of neuroimaging.

But Im open to other names. Any suggestions?

[2021-08-18 12:27] rob-luke opened #81 "Make code examples actually run in the documentation"
is this possible? I assume so. Can we make the documentation example run and rebuild figure each time?

[2021-08-18 12:52] #42 closed, assigned to nobody

[2021-08-18 13:23] rob-luke commented on #81
Copy what I did here. https://github.com/rob-luke/AuditoryStimuli.jl/blob/main/docs/src/example-itmfr.md

[2021-08-18 13:27] #47 closed, assigned to nobody

[2021-08-18 13:28] #40 closed, assigned to nobody

[2021-08-18 13:30] rob-luke commented on #21
Done. But now comes the hard part 😆

[2021-08-18 22:22] rob-luke opened #91 "Switch to EDF.jl"
The current reader used is https://github.com/sam81/BDF.jl which hasn't been updated since 2018, this is only an issue as it is requiring old package dependencies.

Best plan seems to be to switch over to https://github.com/beacon-biosignals/EDF.jl/pull/46 once its merged.

[2021-08-18 22:24] rob-luke commented on #21
I am raising issues for all problems I encounter. I am marking ones that I think are nicely self contained and good for new contributors as "help wanted". Feel free to jump in to any of these  @abcsds (or more complex ones if you want :wink:)

[2021-08-18 22:27] rob-luke commented on #91
Or fork and maintain BDF.jl, but that's less than ideal

[2021-08-18 22:31] rob-luke commented on #79
Add entries even if its old, then we can work forwards via a series of structured PRs

[2021-08-18 22:37] rob-luke opened #92 "Ensure compatibility with latest version of all dependencies"
Handy way to view which packages are out of date (in addition to CompatHelper)...

[code]
From https://bkamins.github.io/julialang/2020/05/11/package-version-restrictions.html

[2021-08-19 01:24] rob-luke opened #98 "Remove lab specific code"
There are aspects of the code base that are specific to my old lab setup. Please note these as comments below and we can systematically remove them and make things more general.

[2021-08-19 02:13] rob-luke opened #100 "Add relevant SSR example dataset"
Following #43 and #99. Need to find a relevant dataset for the SSR example (#35 ) or upload something myself. But all my data is 4GB so too big. And the MNE example data is .eeg format, which we don't support.  So need to find a good example data

[2021-08-19 02:42] rob-luke opened #101 "Add function to return triggers from EEG types"
Currently we have

[code]
need to add
[code]
to return triggers rather than the current method of returning via access to the object property

[2021-08-19 04:04] rob-luke commented on #43
Closed in #99

[2021-08-19 04:04] #43 closed, assigned to nobody

[2021-08-19 04:05] #81 closed, assigned to rob-luke

[2021-08-19 08:36] rob-luke commented on #45
I can rename if required. But closing now.

[2021-08-19 08:36] #45 closed, assigned to nobody

[2021-08-20 04:48] Tokazama commented on #45
I've only heard a select group of neurophysiology focused people ever refer to neuroimaging as anything other than MRI. Even in my lab where most people focus on EEG nobody would call it neuroimaging.

[2021-08-20 10:59] rob-luke commented on #45
I regularly refer to EEG as a neuroimaging technique. Google scholar reports many papers with the term. By definition EEG, MEG, fNIRS are all methods to image neural activity (and that I plan to add to this package). Hence I am closing this discussion.

[2021-08-21 07:01] likanzhan commented on #35
@rob-luke Could you make a workflow or something based on your original logic of the package design, so that we can test  the functions designed in the package?

[2021-08-21 07:55] rob-luke commented on #35
Thats clearly why this issue is here. Please be patient, you are aware that I am actively working towards this goal. I have made over 1000s of lines of code changes in the last weeks towards this goal. You can view the order in which things are being addressed at https://github.com/rob-luke/Neuroimaging.jl/projects/1 and you will see this issue is close to the top of the list in the backlog.

Ther

[2021-08-22 00:49] rob-luke opened #123 "Create annotation type"
To replace triggers type. Annotations are more general and can be used to encode things beyond triggers, such as bad segments, blinks, etc

[2021-08-22 02:48] rob-luke opened #125 "Add analysis example for EEG that is not ASSR"
E.g. Add an ERP example

[2021-08-22 05:52] rob-luke opened #126 "Add standard plots for statistical analysis"
Probably following #7

[2021-08-22 06:18] #100 closed, assigned to nobody

[2021-08-22 06:33] rob-luke commented on #35
I have created an example at https://rob-luke.github.io/Neuroimaging.jl/dev/assr/examples/

However, I will not close this issue as I would like to add more examples to demonstrate how to achieve different types of analysis with this package. So stay tuned for more!

[2021-08-22 06:34] rob-luke opened #127 "Add doc strings for all public functions and add these to the documentation website"

[2021-08-22 08:50] JuliaTagBot opened #129 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

If you'd like for me to do this for you, comment `TagBot fix` on this issue.
I'll open a PR

[2021-08-22 08:50] #129 closed, assigned to nobody

[2021-08-23 06:04] rob-luke opened #134 "Fix package precompilation"
Likely easier to fix once all packages are using the latest version (#92)

[2021-08-23 06:37] rob-luke opened #135 "Add standard 3D brain and head visualisation"
I remember seeing a head/brain visualisation on one of the plotting library demos, this can be a nice basis.

The data should be carefully selected as a standard head model from one of the well published sources with well described coordinates etc.

[2021-08-23 10:36] rob-luke opened #137 "Rename trim_channel to crop* and add option to specify start and stop in Unitful time values"
Change `trim_channel` to `crop`.

Add support for using Unitful values e.g. `crop(eeg, 30u"s")`

[2021-08-28 07:34] rob-luke opened #140 "Add 3D sensor position to 2D transform for use in topoplotting"
To generate topoplots we will first need to define a transform to flatten the sensor positions

[2021-09-03 07:14] rob-luke opened #143 "Remove testing data from code repository"
Move `Neuroimaging.jl/test/data/` to somewhere else and use a DataDep to grab it for testing

[2021-09-03 07:24] #41 closed, assigned to nobody

[2021-09-03 07:24] #48 closed, assigned to nobody

[2021-09-03 07:48] #63 closed, assigned to nobody

[2021-09-03 11:44] rob-luke commented on #92
Done

[2021-09-03 11:44] #92 closed, assigned to nobody

[2021-09-10 06:08] #79 closed, assigned to rob-luke

[2021-09-10 11:02] rob-luke opened #157 "Multimodal Imaging"
This is an issue for further down the road. But it would be nice to enable different imaging modalities to be stored together.

This would require reworking the data structure so each channel has a type (eeg, Meg, etc). Rather than the entire data structure having a single type.

[2021-09-14 08:45] abcsds commented on #134
What is there to fix with the precompilation? Was this fixed with #92?

[2021-09-14 09:15] rob-luke commented on #134
You're right! The errors are gone. Thanks for checking @abcsds! Let's close this off then.

[2021-09-14 09:15] #134 closed, assigned to nobody

[2021-09-14 09:22] abcsds commented on #135
Here a couple options I'm looking into:
- [The big brain project](https://bigbrainproject.org/maps-and-models.html#download): Scientific data, with flexible licensing: BY-NC-SA (https://ftp.bigbrainproject.org/bigbrain-ftp/License.txt) Disadvantage: might be too much data, so we'd have to adapt it.
- [Using MNE's brain model](https://mne.tools/stable/generated/mne.viz.Brain.html): The licensing is

[2021-09-14 09:22] rob-luke commented on #21
Ok everyone, the existing code is now reasonably documented. Feel free to open PRs to improve any aspect of the codebase. Thanks for your patience

[2021-09-14 09:26] rob-luke commented on #135
MNE uses freesurfer under the hood. I think this may be the best option too, as freesurfer is widely used. Could you add that to your consideration list too? Then we could use the fsaverage https://surfer.nmr.mgh.harvard.edu/fswiki/FsAverage file for a generic brain visualisation (that's what MNE does).

Thanks for keeping me posted on your thoughts, that will definitely save us duplicating on eff

[2021-09-14 09:27] rob-luke commented on #135
This may be useful... https://github.com/dfsp-spirit/NeuroFormats.jl

[2021-09-14 09:28] rob-luke commented on #135
Actually more that useful!

![image](https://user-images.githubusercontent.com/748691/133232558-80662416-48cd-42f3-8c0d-1472df752182.png)

[2021-09-14 09:47] abcsds commented on #135
You are faster than my internet connection! I'm still downloading what I think is FSAverage from the BBP.

Looking at the NeuroFormats package, it looks like an option that will allow us to expand the work here as needed, starting with the FSaverage model, right?
It looks to me like the best option. I'll be working on adding an example that uses it.

[2021-09-14 09:56] rob-luke commented on #135
Awesome, thanks for looking in to it. Throw out any questions as you hit snags etc.

One example that might be easy (famous last words) to start with is plotting the brain, and then overlaying some electrodes on it. I am not sure the best API, but if you could do something like...

[code]

or something. But I leave it to you to suggest an API. Each electrode has a coordinate and name, so all the i

[2021-09-14 09:57] rob-luke commented on #135
Full disclosure here, I'm a heavy MNE user and on the[ steering council](https://mne.tools/dev/overview/people.html). So I may be bias to the MNE way, so feel free to push me to something Julian when required.

[2021-09-14 10:18] rob-luke commented on #135
What also might be useful for you to know when going down this path is how to add a downloader for the required files. You can do something like...

https://github.com/rob-luke/Neuroimaging.jl/blob/321b7c468c4e79c9abe1958f5bd1f4b3c50557a8/src/datasets/datasets.jl#L10-L19

[2021-09-14 13:58] abcsds commented on #135
![image](https://user-images.githubusercontent.com/2694381/133269364-0252edfc-dd29-44dc-b444-28a5ac826bf5.png)
Posting this as a reference: this is the stl for the 3D surface obtained from the Big Brain Project at https://ftp.bigbrainproject.org/bigbrain-ftp/BigBrainRelease.2015/3D_Surfaces/Apr7_2016/stl/. It looks asymmetrical and not at all like an average (the case of FSAverage).
I see as a gre

[2021-09-14 18:06] behinger commented on #123
I started looking through the code, but I'm still a julia newbie in many ways, so I cannot comment on style so much.

The topic of event structure is dear to me. I would strongly encourage getting rid of "simple" triggers (like events in MNE python) and just go all in for a Table/dataframe-like structure with arbitrary columns (mandatory "onset (in s)" "duration"). Maybe this is what you had in mi

[2021-09-14 18:12] behinger opened #162 "Missing instead of rejecting"
I have a reject data function in Unfold.jl [here](https://github.com/unfoldtoolbox/Unfold.jl/blob/9612d63019c1bb5ce0052d70fb706fb80fff895c/src/utilities.jl#L106) that simply puts rejected times to `Missing` instead of outright removing it. There is a second helper function to actually remove it, in case a function doesnt support Missings.

Following benefits:
- Arraysize doesnt change (e.g. 32x500

[2021-09-14 18:23] behinger opened #163 "Epoch: order of dimensions"
as far as I see, currently Epoch is `trials x times x channels`

Different is eeglab, which has `channel x times x trials`
Also different is MNE, which has `trials x channels x times`
fieldtrip is a bit different, but it uses trials { channels x times }

I like eeglab best because it is what I'm used to ;-) I wonder if there is a reason for your choice.

Cheers, Bene

[2021-09-14 19:53] behinger opened #164 "Improve filtering (meta issue)"
Widmann et al 2014 recomends not to use filtfilt, because cut-off frequency becomes dificult to estimate etc.

I also wouldn't use Butterworth but FIRWindow with a Hamming window; mirroring the firfilt plugin for eeglab from Andreas Widmann.

I'd be willing to re-implement that if this is of interest

--------

### Checklist

I (Rob) have hijacked the issue comment to list what's wanted and what's

[2021-09-14 23:47] rob-luke commented on #164
Generally I think there are making too many absolute claims here (both in the existing code and your comment 😉). There are a broad variety of neuroscience applications where different analysis parameters are appropriate. For example, the use of Butterworth has been definetively  demonstrated as appropriate for ASSR analysis. But it might be totally inappropriate for a different experimental paradi

[2021-09-15 00:11] rob-luke commented on #163
I think the epoch structure is `times x epochs x channels` in your terminology.

https://github.com/rob-luke/Neuroimaging.jl/blob/e69bb0bece330b2c5d0b940f38d57081cbc16b8b/src/reshaping/epochs.jl#L70-L75

And running the following code indicates `times x epochs x channels` too

[code]

This doesn't seem to match your impression, its highly possible that there is conflicting code somewhere, please p

[2021-09-15 00:11] #163 closed, assigned to nobody

[2021-09-15 00:19] rob-luke commented on #162
OOhhhhh I love Unfold.jl, can we ensure they interface well together in the future? Super cool stuff you're doing there.

This is a great idea. `Missing` wasn't available until later versions of Julia, but now its a first class citizen then we should use it.

So what functions does Missing not play nice with? I guess that various libraries might not handle it well, but I assume that the standard l

[2021-09-15 00:35] rob-luke commented on #123
Interesting comment, thanks @behinger. I actually found the MNE annotation structure to be mind blowingly awesome when I used it. I found that being able to have channel and time specific annotations was fantastic, and because the annotations are not just trigger events but you can also mark artifacts or movements, blinks etc, then you can do things like only reject eye blinks in the frontal chann

[2021-09-15 00:43] rob-luke opened #165 "Data readers"
Currently the library only reads BDF files. Please list the data types below that are important to you, and any existing readers if available.

[2021-09-15 00:44] rob-luke commented on #165
I wish to add a NIRx reader. There is already a package for this at https://github.com/rob-luke/NIRX.jl

[2021-09-15 09:26] behinger commented on #165
If we can add MAT.jl as a dependency, I can do eeglab's .set files

There is also https://github.com/agricolab/brainvisionloader.jl which I updated to julia 1.3 a year ago.

[2021-09-15 11:06] rob-luke commented on #165
I'm fine with adding dependencies like MAT.jl (well supported) and the BV reader (minimal sub-dependencies).

Even though they are external dependencies I would like to add a small test file for each type though. I use datadeps for these now in the datasets directory.

It's cool all these readers are available, I hadn't seen them. Thanks for highlighting them @behinger

[2021-09-15 11:56] behinger commented on #163
Indeed, I think I missidentified it, sorry!

My argument would be to make it as compatible as possible to what other people have been using - but I will get used to it also. It is just a design decision that can be very hard to change later on

[2021-09-15 14:05] behinger commented on #162
"problems" with missing:
`mean([1,2,3,missing,4])` results in `missing`

This is of course by design, and the simple fix to it is to use a
`data = skipmissing(data)`
in the beginning somewhere. This leaves length(data) intact, but mean(data) will work similar to nanmean in matlab, just ignoring the missings.

Another thing I sometimes had problems with is plotting (mostly Makie), where plot([1,2,3

[2021-09-15 14:06] behinger commented on #165
Cool! There is also https://github.com/cbrnr/XDF.jl/

I will try to block some time to start programming here, but it is a busy life :S

[2021-09-15 14:10] behinger commented on #164
Hi!
your proposal is good. Thanks for the extended answer!

----

I think I failed to see the scope of this package - of course in fMRI you'd have quite different filters to EEG. I mostly know about filters in EEG for ERPs and I think Widmann 2014 is currently the definite guide for that. But imho MNE use butterworth as default

----

Regarding filtfilt, the trouble is that your filterorder is not

[2021-09-15 14:20] behinger commented on #123
Channel-Wise annotation sounds super!

Indeed, I just want to have arbitrary columns, the annotation object in MNE officially only supports "onset","duration","description","ch_names" - afaik you could add my own columns, but I haven't done that.

I could, of course, put all my event descriptions in "description", but e.g. for an event "stimulus", I might have "conditionA: 'high'", "conditionB: 'd

[2021-09-15 23:09] rob-luke commented on #165
Not strictly a reader, but good to add to the list https://github.com/TRIImaging/BIDSTools.jl

[2021-09-15 23:20] rob-luke commented on #123
Ok I am starting to get an idea of how this might all come together, so I will assign this task to myself so no one duplicates work.

I still don't think I understand your use case @behinger. Could you spell it out for me. It sounds to me that you just wish to have additional metadata fields for each event/annotation/trigger. But then you also say that what you want to do is not possible with MNE,

[2021-09-15 23:26] rob-luke commented on #164
Your concern seems to be with people reporting their analysis incorrectly in journal articles. I think that's beyond the scope here (that's why we have supervisors and reviewers etc), I would welcome a function that describes the analysis in plain English if you think that would help.

Agree, feel free to change them all to `filter_xxxx`

Wonderful thanks. I will assign you to the issue then.

Not

[2021-09-15 23:29] rob-luke commented on #164
Could you also please add a brief documentation page that describes an overview of the approach here? Filtering is pretty fundamental question for everyone who will use this package, so I think even a few sentences would be a great benefit. Feel free to add references etc. Somewhere around here: https://github.com/rob-luke/Neuroimaging.jl/tree/main/docs/src

[2021-09-15 23:32] rob-luke commented on #162
I like the idea though, but I can see how it will add great complexity and there may be simpler solutions to rejecting data segments. So let's leave this issue open and as other sections are revamped (triggers, filtering, etc), we can drop any relevant information in to this thread so we have a nice summary when/if we tackle this.

[2021-09-15 23:51] rob-luke commented on #163
I would consider changing to the same as MNE if there was demand for it, that would make sense to me as I think most users are likely to come from there.

[2021-09-16 08:22] behinger commented on #123
Metadata are only for epochs, I'd need this for continuous EEG data, which is the basis of unfold. Having multiple concepts is quite confusing and I do not see the benefit

Multi-Column Event descriptions are also part of BIDS (I discuss this here:https://github.com/mne-tools/mne-bids/issues/848). In MNE there was such a discussion as well (on the complications of using events/annotations/metadata

[2021-09-16 08:26] rob-luke commented on #123
"so can you give me a clearer description of your use case please."

[2021-09-16 08:27] rob-luke commented on #123
Agreed, my bad, I was getting confused.

But I still dont understand what you are asking for. Can you please spell your use case out completely in a single comment.

[2021-09-16 08:38] behinger commented on #123
## Use case regression ERPs:

mass univariate models allow fitting something like `ERP ~ 1 + condition + luminance`

For this, each epoch needs "metadata" on condition and luminance. I.e. a table per epoch to look up this information.

But in Unfold, we do not have epochs, we apply the regression model to continuous data. Thus, I need metadata per event, and not per epoch.

## Use case ERPimages
A

[2021-09-16 08:46] rob-luke commented on #123
Ok I think I finally got it. Thanks for sticking with me.

This will actually also work for  GLM style analysis for other modalities such as fNIRS.

Once I get a working PR is it ok for me to ping you for a review @behinger ?

[2021-09-16 09:16] behinger commented on #123
absolutely!

Btw. Unfold.jl already supports basic hemodynamic response modelling (and FIR) - it is super easy to add different temporal basis functions as well i.e. extending the HRF with derivations etc.

[2021-09-16 09:18] rob-luke commented on #123
Might be worth a phone call some time to see where our research paths overlap, I think we have a bit in common.

[2021-09-16 09:19] behinger commented on #123
shoot me an email: rob-luke@benediktehinger.de :)

[2021-09-18 05:01] rob-luke opened #168 "The use of the processing field for data types"
The neuroimaging data types include a `processing` field. This has two purposes (see below). However, the implementation is outdated and could benefit from newer Julia features. I will explain the purpose of this field, and how I think the implementation can be improved.

To start with, here is an example of the field I discuss:

https://github.com/rob-luke/Neuroimaging.jl/blob/0bed495b40cced7f194

[2021-09-18 10:20] rob-luke opened #170 "Make logging consistent"
#### Describe the new feature or enhancement
I would like to make the logging consistent across the package.

#### Describe your proposed implementation
I would like the following features

* Each high level function (operating on types) pushes info level to the logger
* Each low level function would push its detailed actions to debug
* The log doesn't just have a log level and message, but also a

[2021-10-02 00:05] ararslan commented on #91
FYI since you linked the PR, EDF.jl v0.6.3 supports reading and writing BDF files :slightly_smiling_face:

[2021-10-02 00:56] rob-luke commented on #91
That's amazing! Thanks so much for your hard work @ararslan. I will switch to your package when I have a spare few hours. I appreciate your contribution greatly!

[2021-10-02 05:20] rob-luke opened #174 "Add demean function"
#### Describe the new feature or enhancement
Add a function to remove the mean from a signal

#### Describe your proposed implementation

[code]

#### Describe possible alternatives
Many other ways

#### Additional comments
@behinger used this code, so maybe others will find it useful.

[2021-10-02 11:21] #7 closed, assigned to nobody

[2021-10-02 11:58] rob-luke commented on #127
Closing this as I think ive caught most of them. Can add more as they pop up

[2021-10-02 11:58] #127 closed, assigned to nobody

[2021-10-15 06:57] likanzhan commented on #165
EDFPlus:

https://github.com/wherrera10/EDFPlus.jl

[2021-10-17 09:01] likanzhan commented on #165
`EDF` is more Julian, but `BDF` is faster. see [https://github.com/beacon-biosignals/EDF.jl/issues/50](https://github.com/beacon-biosignals/EDF.jl/issues/50)

[2021-10-26 02:07] likanzhan commented on #165
It seems that EDF and BDF use different scale factors.

-  [`BDF`](https://github.com/sam81/BDF.jl/blob/6bd400b57805448a59a71068fa24c6cce9da8a43/src/BDF.jl#L141) uses `dt * ((pmax - pmin) / (dmax - dmin))`;
- [`EDF`](https://github.com/beacon-biosignals/EDF.jl/blob/e14432cb1af5ad41e855eb222a40c7497229943a/src/types.jl#L76) uses something like `((dt - dmin) / (dmax - dmin)) * (pmax - pmin) + pmin`.

[2021-10-28 15:50] jrevels commented on #165
The EDF version properly (I hope 😁) accounts for a fixed physical offset expressed by the encoding (in addition to the encoded -> decoded scaling factor you get from `(pmax - pmin) / (dmax - dmin)`)

I think we originally only applied that scaling factor in EDF.jl (w/o accounting for the offset) until we realized other EDF reading libraries (MNE, I think?) interpreted `pmin` in this way

[2021-10-31 22:34] rob-luke commented on #165
Now that @likanzhan has added BDF+ support to EDF.jl I think its time we make the jump. I will report progress in #91

[2021-10-31 22:38] rob-luke commented on #91
I played with this a few weeks ago and imported data with no issue, however, I was unable to extract annotation information. This seems to have been because I was reading old documentation, but is now fixed in https://github.com/beacon-biosignals/EDF.jl/issues/52. So I should try and extract annotation information again.

Once this is working I would like to refactor the BDF reading code as there

[2021-11-01 00:56] likanzhan commented on #91
If I understand correctly, it seems that the `status` channel in `BDF` cannot be correctly handled by `EDF.jl` for now.

[2021-11-01 01:53] rob-luke commented on #91
Oh no. That's bad news. We need the status channel for BDF.

What about for BDF+? Does EDF.jl correctly extract triggers for BDF+ files?

[2021-11-01 02:01] likanzhan commented on #91
The `BDF+` and `EDF+` trigger information specified as [Annotations](https://www.edfplus.info/specs/edfplus.html#edfplusannotations) can be handled. But the BDF `status` channel specified by [biosemi](https://www.biosemi.com/faq/file_format.htm) is not correctly handled for now.

[2021-11-01 03:36] rob-luke commented on #91
Thanks for the summary @likanzhan! So I will continue with my plan to refactor the current reading code to be less BDF specific (remove hard coding of parameters, remove repeated code, modularise tasks). Then we can add `EDF.jl` to enable reading of EDF and BDF+ files. And use BDF.jl and EDF.jl concurrently.

I will report back here when its done. But feel free to try and tackle it in the meantime

[2021-11-01 17:53] ararslan commented on #91
@likanzhan, can you open an issue on EDF.jl with some details about the status channel not working? Without supporting that, BDF support is technically incomplete, so I'll see if I can get that fixed. I don't have access to any BDF files with a status channel though.

[2021-11-26 05:46] likanzhan commented on #91
Hi @rob-luke, when refactoring the reading code, is it possible to use the format being described as [Onda.jl](https://github.com/beacon-biosignals/Onda.jl)?

[2021-12-10 03:50] likanzhan commented on #91
Hi @rob-luke,

The branch [https://github.com/beacon-biosignals/EDF.jl/pull/61](https://github.com/beacon-biosignals/EDF.jl/pull/61) (not released yet) can now handle the `status` channel.

[2021-12-10 17:32] ararslan commented on #91
Apologies, I've not been able to get back to that PR for a while. One question I have for the folks who would be using it is what behavior would be desirable for calling `EDF.decode` on the trigger status channel. It could decode the individual bits, as BioSemi's description mentions that information is encoded via bit masks. I lack sufficient context to know what makes sense for the trigger statu